<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<title>牛客网-激活账号</title>
<!--	<title>周碧云，很_（有奖竞猜）</title>-->
</head>
<body>
	<div>
		<p>
			<b th:text="${email}">xxx@xxx.com</b>, 您好!
		</p>
		<p>
			您正在注册牛客网, 这是一封激活邮件, 请点击
			<a th:href="${url}">此链接</a>,
			激活您的牛客账号!
		</p>
<!--		<p>-->
<!--			<b th:text="${email}">xxx@xxx.com</b>, 您好!-->
<!--		</p>-->
<!--		<p>-->
<!--			我是侯艺，杨飞，周鹏鹏，但不是陈飞飞-->
<!--&lt;!&ndash;			<a th:href="${url}">此链接</a>,&ndash;&gt;-->
<!--			是兄弟，就来砍我！-->
<!--		</p>-->
	</div>
</body>
</html>