<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <title>牛客网-忘记密码</title>
</head>
<body>
	<div>
		<p>
			<b th:text="${email}">xxx@xxx.com</b>, 您好!
		</p>
		<p>
			您正在找回牛客账号的密码, 本次操作的验证码为 <b th:text="${vericode}">u5s6dt</b> ,
			有效时间5分钟, 请您及时进行操作!
		</p>
<!--		<p>-->
<!--			侯艺你好，我是陈松民，我不喜欢你这个二刺螈, 但我是个南桐，所以喜欢你😝😝></b> ,-->
<!--			你有五分钟时间说爱我，快来微信跟我击剑🤺吧-->
<!--		</p>-->
	</div>
</body>
</html>